#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

/* html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
} */

html {
  background: #101010;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: -1;
}

.container {
  position: relative;
  margin-inline: 5vw;
  margin-top: 50vh;
}

h1 {
  color: white;
  text-transform: uppercase;
  font-size: 80px;
  position: relative;
  margin-bottom: 80vh;
}

  h1:nth-child(even) {
    text-align: right;
  }
  h1:nth-child(odd) {
    text-align: left;
  }